sounds/
misclassified_errors1/
misclassified_errors_with_labels1/
misclassified_errors/
misclassified_errors_with_labels/
dock/
data/
bitmap_training_data/
bitmap_training_data_old/
reference/
best_gender_model.pth
emotion_model_F.pth
emotion_model_M.pth
gender_model.pth
model_weights.pth
uncut_data_spectrogram_bitmap.bmp
cut_data_spectrogram_bitmap.bmp
my_spectrogram.bmp
tempCodeRunnerFile.py
main6.cpython-313.pyc
main8neuralnetwork.cpython-313.pyc
sounds/